target
packager
frontend/target
backend/target
log
log/log.log
.ensime
.ensime_cache
/shared/.js/
.idea/
project/project/
shared/.js/
shared/.jvm/
shared/src/main/scala-2.12/
shared/src/test/scala-2.12/


twitter.conf
backend/src/main/resources/twitter.conf
